body{
	background: url("plano de fundo.jpg");
}




h2{
	text-align: center;
	background:  url("fundo verde 1.jpg");
	margin-left: 50px;
	margin-right: 50px;
	color: #ffffff;
	font-size: 3em;


}



